.container{
    margin:auto;
    width: 80%;
    padding:5% ;
}
.transform h1{
    font-size: 78px;
    font-family: sans-serif;
}
.transform p{
    color:gray;
    font-size: 20px;
}
.but1{
    font-size: 20px;
    color:white;
    background-color: black;
    padding:15px;
    border-radius: 10px;
    margin:10px;
    margin-left: 0;
}
.but2{
    font-size: 20px;
    background-color:white;
    padding:15px;
    border-radius: 10px;
    margin:10px;
}
.transform{
    height:450px;
    padding:2%;
    width: 55%;
    display: inline-block;
}
.transform-img{
    height:35%;
    width:35%;
    display:inline-block;
    border-radius: 45px;
    overflow:hidden;
    vertical-align: baseline;
}
img{
    width:100%;
    height:100%;
}
.why-choose-us{
    text-align: center;
    font-family: sans-serif;
    height:450px;
    width:100%;
    margin-bottom: 100px;
}
.why-choose-us h2{
    font-family: sans-serif;
    font-size: 54px;
}
.why-choose-us p{
    color:gray;
    margin-bottom: 30px;
}
.box{
    width: 30%;
    display: inline-block;   
}
.inner-item{
    height:300px;
}
.bg1{
    background-color: blueviolet;
}
.bg2{
    background-color: aqua;
}
.bg3{
    background-color: antiquewhite;
}
.more-gym{
    height:10%;
}
